
@model Garage_2._1.Models.InfoViewModel

@{
    ViewBag.Title = "ParkVehicle";
}

<h2>Park Vehicle</h2>

<p>
    @Html.ActionLink("Add new vehicle", "AddVehicle")
</p>

@if (Model.Collection.Count() < 1)
{
    <h2>Please add a vehicle to park</h2>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Collection.FirstOrDefault().Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Collection.FirstOrDefault().RegNum)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Collection)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNum)
            </td>
            <td>
                <button class="btn btn-sm btn-default" type="button" href='@Url.Action("ParkVehicle", "Home", new {id = Model.ParkingSpotId, regnum = item.RegNum})'> Park </button>
            </td>
        </tr>
    }
    </table>
}

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>