@model Garage_2._1.Models.InfoViewModel

@{
    ViewBag.Title = "ParkVehicle";
}

<h2>ParkVehicle</h2>

<p>
    @Html.ActionLink("Add new vehicle", "AddVehicle", new { id = ViewBag.currentId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink("Park", "Edit", new { id = item.Id, slotId = ViewBag.currentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to Index", "Index")
</div>