@model Garage_2._1.Models.InfoViewModel

@{
    ViewBag.Title = "ParkVehicle";
}

<h2>ParkVehicle</h2>

<p>
    @Html.ActionLink("Add new vehicle", "AddVehicle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Collection.FirstOrDefault().Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Collection.FirstOrDefault().RegNum)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Collection)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNum)
            </td>
            <td>
                @Html.ActionLink("Park", "ParkVehicle", new { regnum = item.RegNum,}) |
                
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to Index", "Index")
</div>